{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Profile{% endblock %}

{% block cath1 %}Profile {% endblock %}
{% block h1 %}Home {% endblock %}


{% block body %}

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ user.firstname }} {{ user.lastname|upper }}</h3>
                <div class="col-auto ms-auto d-print-none">
                    <div class="btn-list">
                        <a href="{{ path('profile_edit') }}" class="btn btn-primary">Edit Profile</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row" style="min-height: 200px">
                    <div class="col-md-2">
                        <span class="avatar avatar-xl" style="background-image: url({{ asset('avatars/' ~ app.user.avatar) }}) ; width: 100%; height: 200px"></span>
                    </div>
                    <div class="col-md-10">
                        <table>
                            <tr>
                                <td style="min-width: 200px">Firstname : </td>
                                <td class="font-weight-bold">{{ user.firstname }}</td>
                            </tr>
                            <tr>
                                <td>Lastname : </td>
                                <td class="font-weight-bold">{{ user.lastname }}</td>
                            </tr>
                            <tr>
                                <td>Email : </td>
                                <td class="font-weight-bold">{{ user.email }}</td>
                            </tr>
                            <tr>
                                <td>Account currency : </td>
                                <td class="font-weight-bold">{{ user.devise }}</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
