{% extends 'base.html.twig' %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="container-tight py-4">
        <div class="text-center mb-4">
            <a href="."><img src="{{ asset('images/logo.svg') }}" height="36" alt=""></a>
        </div>
        <form method="post" class="card card-md">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Login to your account</h2>
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email address</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>
                <div class="mb-2">
                    <label for="inputPassword" class="form-label">
                        Password
                        <span class="form-label-description">
                  {# <a href="./forgot-password.html">I forgot password</a> #}
                </span>
                    </label>
                    <div class="input-group input-group-flat">
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                    </div>

                </div>{#
                <div class="mb-2">
                    <label class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <span class="form-check-label">Remember me on this device</span>
                    </label>
                </div>#}
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">Sign in</button>
                </div>
            </div>
        </form>
        <div class="text-center text-muted mt-3">
            Don't have account yet? <a href="{{ path('app_register') }}" tabindex="-1">Sign up</a>
        </div>
    </div>

{% endblock %}

{% block title %}{{ parent() }} | Log in{% endblock %}
