{% extends 'base.html.twig' %}

{% block cath1 %}Investissement {% endblock %}
{% block h1 %}Home {% endblock %}

{% block body %}

    <div class="col-12">
        <div class="card">
            {% set nb = 0 %}
            <div class="card-header">
                <h3 class="card-title">Investissement</h3>
                <div class="col-auto ms-auto d-print-none">
                    <div class="btn-list">
                        <a href="{{ path('investissement_create') }}" class="btn btn-primary d-none d-sm-inline-block">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                            New investment
                        </a>
                    </div>
                </div>
            </div>
            <div class="table-responsive" style="height: 200px; overflow-x: hidden">
                <table class="table card-table table-vcenter text-nowrap datatable">
                    <thead>
                    <tr>
                        <th class="w-1">No.</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Risk</th>
                        <th>Created</th>
                        <th>Last add</th>
                        <th>Status (1y)</th>
                        <th>Total Value</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for invest in investissements %}
                        {% set nb = loop.index %}
                        <tr>
                            <td><span class="text-muted">{{ loop.index }}</span></td>
                            <td>
                                <a href="{{ path('investissement_view', {'id': invest.id}) }}" class="text-reset" tabindex="-1">
                                    {{ invest.name }}
                                </a>
                            </td>
                            <td>
                                {{ invest.type }}
                            </td>
                            <td>
                                {{ invest.risk }}
                            </td>
                            <td>
                                {{ invest.dateCreated|date('d/m/Y') }}
                            </td>
                            <td>
                                {{ invest.lastModif|date('d/m/Y') }}
                            </td>
                            <td>
                                {% if invest.statut == 1 %}
                                    <span class="badge bg-success me-1">
                                        UP
                                    </span>
                                {% endif %}
                            </td>
                            <td>{{ invest.totalValue }}</td>

                            <td class="text-end">
                                    <span class="dropdown">
                                      <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport"
                                              data-bs-toggle="dropdown" aria-expanded="false">Actions</button>
                                      <div class="dropdown-menu dropdown-menu-end" style="min-width: 7rem">
                                        <a class="dropdown-item" href="{{ path('investissement_edit', {'id': invest.id}) }}" style="min-width: 7rem">
                                          Modify
                                        </a>
                                        <a class="dropdown-item" href="#">
                                          Delete
                                        </a>
                                      </div>
                                    </span>
                            </td>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
            <div class="card-footer d-flex align-items-center">
                <p class="m-0 text-muted">Total: <span>{{ nb }}</span> </p>
            </div>
        </div>
    </div>

{% endblock %}

{% block title %}{{ parent() }} | Home{% endblock %}