{% extends 'base.html.twig' %}

{% block cath1 %}Investment{% endblock %}
{% block h1 %}Delete {% endblock %}

{% block body %}


    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Delete {{ investissement.name|upper }} and all rows</h3>
            </div>
            <div class="card-body">
                {{ form_start(investDeleteForm) }}

                    {{ form_widget(investDeleteForm) }}

                    <button class="btn btn-danger">Delete</button>
                    <a href="{{ path('investissement_view', {'id': investissement.id}) }}" class="btn btn-white">Cancel</a>

                {{ form_end(investDeleteForm) }}
            </div>
        </div>
    </div>


{% endblock %}

{% block title %}{{ parent() }} | Home{% endblock %}