{% extends 'base.html.twig' %}

{% block cath1 %}Row {% endblock %}
{% block h1 %}Delete {% endblock %}

{% block body %}




    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Delete {{ row.name|upper }}'s row from {{ investissement.name }}</h3>
            </div>
            <div class="card-body">
                {{ form_start(rowDeleteForm) }}

                    {{ form_widget(rowDeleteForm) }}

                        <button class="btn btn-danger">Delete</button>
                        <a href="{{ path('investissement_view', {'id': investissement.id}) }}" class="btn btn-white">Cancel</a>
                {{ form_end(rowDeleteForm) }}
            </div>
        </div>
    </div>










{% endblock %}

{% block title %}{{ parent() }} | Home{% endblock %}