{% extends 'base.html.twig' %}

{% block cath1 %}Statistics{% endblock %}
{% block h1 %}Home {% endblock %}

{% block body %}

    <div class="col-lg-12 mb-3">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Account total :&nbsp;
                    <span class="values">
                        {{ app.user.accountTotalValue|number_format(2, '.', ' ') }}$
                    </span>
                    &nbsp;
                    <span>
                        ({{ bigTotalEur|number_format(2, '.', ' ') }}€)
                    </span>
                </h2>


            </div>
        </div>
    </div>


    <div class="col-lg-12 col-xl-12 mb-3">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Fundamental analysis of your account</h3>
            </div>
            <div class="card-body" style="position: relative;">
                <div id="chart2" class="chart2"></div>
                <script>
                    var options = {
                        series: [{
                            name: "Account total",
                            data: [
                                {% for history in historys %}
                                {{ history.value }},
                                {% endfor %}
                            ]
                        }],
                        chart: {
                            type: 'area',
                            height: 350,
                            zoom: {
                                enabled: false
                            },
                            toolbar: {
                                show: false,
                            },
                        },
                        dataLabels: {
                            enabled: false
                        },
                        fill: {
                            opacity: .16,
                            type: 'solid'
                        },
                        stroke: {
                            width: 2,
                            lineCap: "round",
                            curve: 'smooth'
                        },
                        /*title: {
                            text: 'Fundamental Analysis of Stocks',
                            align: 'left'
                        },
                        subtitle: {
                            text: 'Price Movements',
                            align: 'left'
                        },*/
                        labels: [
                            {% for history in historys %}
                            '{{ history.date|date("d/m/Y") }}',
                            {% endfor %}
                        ],
                        xaxis: {
                            type: 'date',
                        },
                        yaxis: {
                            opposite: true
                        },
                        colors: ["#206bc4", "#a55eea"],
                        legend: {
                            horizontalAlign: 'left'
                        }
                    };

                    var chart = new ApexCharts(document.querySelector("#chart2"), options);
                    chart.render();
                </script>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xl-6 mb-3">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Risk allocation</h3>
            </div>
            <div class="card-body" style="position: relative;">
                <div id="chart" class="chart"></div>
                <script>

                    var options = {
                        series: [{{ risks['Safe'] }}, {{ risks['Balanced'] }}, {{ risks['Risky'] }}],
                        chart: {
                            type: 'pie',
                            fontFamily: 'inherit',
                            height: 270,
                            animations: {
                                enabled: true
                            },
                        },
                        labels: ['Safe', 'Balanced', 'Risky'],
                        colors: ["#206bc4", "#79a6dc", "#d2e1f3", "#e9ecf1"],
                        responsive: [{
                            breakpoint: 480,
                            options: {
                                chart: {
                                    width: 200
                                },
                                legend: {
                                    position: 'bottom'
                                }
                            }
                        }]
                    };

                    var chart = new ApexCharts(document.querySelector("#chart"), options);
                    chart.render();
                </script>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xl-6 mb-3">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Analysis by investment</h3>
            </div>
            <div class="card-body" style="position: relative;">
                <div id="chart3" class="chart3"></div>
                <script>

                    var options = {
                        series: [
                            {% for oneInvest in investHistory %}
                            {
                                name: '{{ oneInvest[0].invest.name }}',
                                data: [
                                    {% for item in oneInvest %}
                                    {{ item.value }},
                                    {% endfor %}
                                ],
                            },
                            {% endfor %}
                        ],
                        chart: {
                            type: 'area',
                            height: 270,
                            stacked: true,
                            events: {
                                selection: function (chart, e) {
                                    console.log(new Date(e.xaxis.min))
                                }
                            },
                            toolbar: {
                                show: false,
                            },
                        },
                        colors: ["#206bc4", "#79a6dc", "#d2e1f3", "#e9ecf1"],
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            width: 2,
                            lineCap: "round",
                            curve: 'smooth'
                        },
                        fill: {
                            type: 'gradient',
                            gradient: {
                                opacityFrom: 0.6,
                                opacityTo: 0.8,
                            }
                        },
                        legend: {
                            position: 'top',
                            horizontalAlign: 'left'
                        },
                        xaxis: {
                            type: 'date'
                        },
                        yaxis: {
                            opposite: true
                        },
                        labels: [
                            {% for oneInvest in investHistory %}
                                {% for item in oneInvest %}
                                    '{{ item.date|date('d/m/y') }}',
                                {% endfor %}
                            {% endfor %}
                        ],
                    };

                    var chart = new ApexCharts(document.querySelector("#chart3"), options);
                    chart.render();
                </script>
            </div>
        </div>
    </div>

{% endblock %}

{% block title %}{{ parent() }} | Stats{% endblock %}